<header>
  <nav class="nav navbar-expand-md navbar-dark bg-dark">
      <ul class="navbar-nav">
        <li><a *ngIf="autentificacaoService.isUserLoggedIn() && autentificacaoService.isFuncionario()" routerLink="/welcome/Teste" class="nav-link">Home</a></li>        
        <li><a *ngIf="autentificacaoService.isUserLoggedIn() && autentificacaoService.isFuncionario()" routerLink="/todos" class="nav-link">Todos</a></li>
        <li><a *ngIf="autentificacaoService.isUserLoggedIn() && autentificacaoService.isFuncionario()" routerLink="/admin/usuario" class="nav-link">Usuário</a></li>
        <li><a *ngIf="autentificacaoService.isUserLoggedIn() && autentificacaoService.isFuncionario()" routerLink="/admin/produto" class="nav-link">Produto</a></li>
        <li><a *ngIf="autentificacaoService.isUserLoggedIn() && autentificacaoService.isFuncionario()" routerLink="/venda/credito" class="nav-link">Venda Crédito</a></li>            
        <li><a *ngIf="autentificacaoService.isUserLoggedIn() && autentificacaoService.isFuncionario()" routerLink="/venda/produto" class="nav-link">PDV</a></li>            
      </ul>

      <ul class="navbar-nav navbar-collapse justify-content-end">
        <li><a *ngIf="!autentificacaoService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>        
        <li><a *ngIf="autentificacaoService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>        
      </ul>
  </nav>
</header>
