<h1> Venda de Crédito</h1>

<div class="alert alert-warning" *ngIf="mensagem">{{mensagem}}</div>

<div class="container">

  <div class="row" style="margin-top: 20px;">    
    <div class="col-md-2" *ngIf="hasUsuario">
      <label>Aluno:</label>
    </div>
    <div class="col-md-10" *ngIf="hasUsuario" style="font-size: 20px">
      <label>{{matricula}} - {{nomeAluno}}</label>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col-md-2">
      <label>Valor:*</label>
    </div>
    <div class="col-md-4">
      <input type="number" #codigo="ngModel" [(ngModel)]="valorCredito" class="form-control" name="codigo" required="required">
    </div>
  </div>
  <div class="row" style="margin-top: 50px;">
    <button style="margin-right: 15px;" (click)="cancelarVenda()" class="btn btn-danger">Cancelar Venda</button>
    <button (click)="downloadFile()" class="btn btn-success">Finalizar Venda</button>
  </div>

</div>