<h1> Vendas Befast </h1>

<div class="alert alert-warning" *ngIf="mensagem">{{mensagem}}</div>

<div class="container">
  <form (ngSubmit)="!vendaClienteForm.invalid && getUsuario()" #vendaClienteForm="ngForm">
    <div class="row">
      <div class="col-md-2">
        <label>Matrícula:*</label>
      </div>
      <div class="col-md-4">
        <input type="text" #nome="ngModel" [(ngModel)]="usuario.matricula" class="form-control" name="nome"
          required="required" autofocus>
      </div>
      <div class="col-md-2" *ngIf="hasUsuario">
          <label>Usuário: {{nomeAluno}}</label>
        </div>
      <div class="col-md-2" *ngIf="hasUsuario">
        <label>Saldo: R${{formatReal(saldo)}}</label>
      </div>
    </div>
  </form>
</div>
<div class="container">
  <form (ngSubmit)="!vendaItemForm.invalid && getProduto()" #vendaItemForm="ngForm">
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-2">
        <label>Produto:*</label>
      </div>
      <div class="col-md-4">
        <input type="text" #codigo="ngModel" [(ngModel)]="produto.codigo" class="form-control" name="codigo"
          required="required">
      </div>
      <div class="col-md-2">
        <label>Quantidade:*</label>
      </div>
      <div class="col-md-2">
        <input type="number" #quantidade="ngModel" [(ngModel)]="produto.quantidade" class="form-control" name="quantidade"
          required="required">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-info">Incluir</button>
      </div>
    </div>
  </form>
</div>

<div class="container" style="margin-top: 50px;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Categoria</th>
        <th scope="col">Produto</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Valor</th>
        <th scope="col">Subtotal</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!--linha da tabela com as infos -->
      <tr *ngFor="let row of itens; let i = index">
        <td>{{row.produto.categoria.nome}}</td>
        <td>{{row.produto.descricao}}</td>
        <td>{{row.quantidade}}</td>
        <td>{{formatReal(row.valorItem)}}</td>
        <td>{{formatReal(row.quantidade * row.valorItem)}}</td>
        <td><button (click)="retirarProduto(i, row)" class="btn btn-warning">Delete</button></td>
      </tr>
    </tbody>
  </table>

  <p [hidden]="itens.length > 0" class="no-results">Nenhum produto inserido</p>
  <paginator (pageChanged)="pageChanged($event)" [totalElements]="toalRecords" [pageSize]="pageSize"
    [actualPage]="actualPage"></paginator>
  <div class="row">    
    <div class="col-md-12">
        <div class="col-md-2" style="float:right;">
          <label>Total: {{formatReal(totalCompra)}}</label>
        </div>
      <label>Forma de Pagamento:*</label>
      <div *ngFor="let fp of listFormaPgto">
        <input type="radio" [(ngModel)]="selectedFormaPgtoNome" name="list_name" value="{{fp.nome}}"
          (change)="onItemChange(fp)" />
        {{fp.nome}}
      </div>
    </div>    
  </div>
  <div class="row" style="margin-top: 20px;">
      <p>Campos marcados com (*) são obrigatórios!</p>
  </div>
  <div class="row">
    <button style="margin-right: 15px;" (click)="cancelarVenda()" class="btn btn-danger">Cancelar Venda</button>
    <button (click)="finalizarVenda()" class="btn btn-success">Finalizar Venda</button>
  </div>

</div>