<h1> Listar Usuário </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">

    <table class="table table-striped" [hidden]="usuarios.length == 0">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Usuário</th>
          <th scope="col">Role</th>
          <th scope="col">Restrições</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!--linha da tabela com as infos -->
        <tr *ngFor="let row of usuarios">
          <td>{{row.nome}}</td>
          <td>{{row.username}}</td>
          <td>{{row.role.nome}}</td>
          <td>
            <div *ngFor="let rest of row.restricoes">
                {{rest.nome}}
            </div>
          </td>
          <td><button (click)="updateUsuario(row.id)" class="btn btn-success">Update</button></td>
          <td><button (click)="deleteUsuario(row.id)" class="btn btn-warning">Delete</button></td>
          <td><button (click)="vincularUsuario(row.id)" class="btn btn-info">Vincular</button></td>
        </tr>
      </tbody>
    </table>
    <p [hidden]="usuarios.length > 0" class="no-results">Nenhum usuário encontrado</p>
    <paginator (pageChanged)="pageChanged($event)" [totalElements]="totalRecords" [pageSize]="pageSize" [actualPage]="actualPage"></paginator>
  
    <div class="row">
      <button (click)="novo()" class="btn btn-success">Novo</button>
  </div>

</div>