.table thead th {
    vertical-align: baseline;
}

.h1, h1 {
    text-align: -webkit-center;
}

.table {
     margin-top: 20px;
}

.table td, .table th {
    vertical-align: baseline;
}

.itens {
    border-top: 0px;
    border-bottom: 0px;
}

.itenscompra {
    text-align: -webkit-center;
    border-top: 0px;
}