<h1> Relatório de Vendas por Período </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="container">
  <form (ngSubmit)="!vendasForm.invalid && list()" #vendasForm="ngForm">
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-2">
        <label>Data Inicial</label>
      </div>
      <div class="col-md-3">
        <input type="date" #dataInicial="ngModel" [(ngModel)]="filtro.dataInicial" class="form-control" name="dataInicial"
          required="required" autofocus>
      </div>
      <div class="col-md-2">
        <label>Data Final</label>
      </div>
      <div class="col-md-3">
        <input type="date" #dataFinal="ngModel" [(ngModel)]="filtro.dataFinal" class="form-control" name="dataFinal"
          required="required">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-info">Listar</button>
      </div>
    </div>
  </form>
</div>
<div class="container table-responsive-sm">
    <table class="table" [hidden]="vendas.length == 0">
      <thead>
        <tr>
          <th scope="col">Data</th>
          <th scope="col">
            <div>
                <th scope="col" style="width: 180px;" class="itens">Produto</th>
                <th scope="col" style="width: 130px;" class="itens">Valor Unitário</th>
                <th scope="col" style="width: 90px;" class="itens">Quantidade</th>
                <th scope="col" style="width: 100px;" class="itens">SubTotal</th>
            </div> 
          </th>
          <th scope="col">Forma de Pagamento</th>
          <th scope="col">Valor Total</th>
        </tr>
      </thead>
      <tbody>
        <!--linha da tabela com as infos -->
        <tr *ngFor="let row of vendas">
          <td>{{row.dataVenda | date: 'dd/MM/yyyy'}}</td>
          <td>
            <div *ngFor="let i of row.itens">
              <td style="width: 180px; border-top: 0px;">{{i.produto.descricao}}</td>
              <td style="width: 130px;" class="itenscompra">{{formatReal(i.valorItem)}}</td>
              <td style="width: 90px;" class="itenscompra">{{i.quantidade}}</td> 
              <td style="width: 100px;" class="itenscompra">{{formatReal(i.quantidade * i.valorItem)}}</td> 
            </div>
          </td>
          <td>{{row.pagamento.nome}}</td>
          <td>{{formatReal(row.total)}}</td>
        </tr>
      </tbody>
    </table>
    <p [hidden]="vendas.length > 0" class="no-results">Nenhuma venda encontrada para o período selecionado</p>
    <paginator (pageChanged)="pageChanged($event)" [totalElements]="totalRecords" [pageSize]="pageSize" [actualPage]="actualPage"></paginator>
</div>