<h1> Relatório de Antecipação de Recebíveis </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="container table-responsive-sm">
    
    <table class="table" [hidden]="recebiveis.length == 0">
      <thead>
        <tr>
          <th scope="col">Usuário</th>
          <th scope="col">Créditos</th>
        </tr>
      </thead>
      <tbody>
        <!--linha da tabela com as infos -->
        <tr *ngFor="let row of recebiveis">
          <td>{{row.usuario}}</td>
          <td>{{formatReal(row.saldo)}}</td>
        </tr>
      </tbody>
    </table>
    <p>Saldo Total = R$ {{formatReal(total)}}</p>
    <p [hidden]="recebiveis.length > 0" class="no-results">Nenhum crédito encontrado</p>
    <paginator (pageChanged)="pageChanged($event)" [totalElements]="totalRecords" [pageSize]="pageSize" [actualPage]="actualPage"></paginator>
    <button style="margin-right: 15px;" (click)="voltar()" class="btn btn-danger">Voltar</button>
</div>