.ng-invalid:not(form) {
    border-left: 5px solid red;
}

.table thead th {
    vertical-align: baseline;
}

.h1, h1 {
    text-align: -webkit-center;
}

.table {
     margin-top: 20px;
}

.table td, .table th {
    vertical-align: baseline;
}